NYTimes_MostPopularArticles.xcworkspace/xcuserdata/ashishbaghel.xcuserdatad/UserInterfaceState.xcuserstate
NYTimes_MostPopularArticles.xcworkspace/xcuserdata/ashishbaghel.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Pods.xcodeproj/xcuserdata/ashishbaghel.xcuserdatad/xcschemes/xcschememanagement.plist
